<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('文件上传')"/>
    <style>
        .wrap{
            width: 500px;
            height: 390px;
            margin: 10px auto;
        }
    </style>
</head>

<body>
<div class="wrap">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="file" class="layui-form-label">
                    <span class="x-red">*</span>选择上传文件
                </label>
                <div class="layui-input-inline">
                    <input type="file" id="file" name="file" required="" lay-verify="file"
                           autocomplete="off" class="">
                </div>

            </div>
            <div class="layui-form-item">
                <label for="author" class="layui-form-label">
                    <span class="x-red">*</span>作者
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="author" name="author" required="" lay-verify="author"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">

                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    上传
                </button>
                <button class="layui-btn" onclick="fileSelected()">文件信息</button>
                <div id="info">
                    <div id="fileName"></div>
                    <div id="fileSize"></div>
                    <div id="fileType"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            author: function(value) {
                if (value.length < 2) {
                    return '作者名至少得2个字符啊';
                }
            }

        });
        //监听提交
        form.on('submit(add)',
            function(data) {

                //构建formData
                var formData = new FormData();
                //文件部分
                var file = document.getElementById("file").files[0];
                formData.append("file", file);
                //json部分
                var imageInfo = JSON.stringify({
                    author:$('#author').val()
                });
                //这里包装 可以直接转换成对象
                formData.append('imageInfo', new Blob([imageInfo], {type: "application/json"}));

                $.ajax({
                    url: "/uploadFile",
                    type: "post",
                    //忽略contentType
                    contentType: false,
                    //取消序列换 formData本来就是序列化好的
                    processData: false,
                    dataType: "json",
                    data: formData,
                    success:function (rsp) {
                        var code = rsp.code;
                        if("200" == code){
                            layer.alert("上传成功", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        }else {
                            layer.alert("上传失败", {
                                    icon: 5
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                });
                        }
                    },
                    error:function (err) {
                        layer.alert("上传失败", {
                                icon: 5
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
//                                    xadmin.father_reload();
                            });
                    }
                });
                return false;
            });
    });
function fileSelected() {
    var file = document.getElementById('file').files[0];
    if (file) {
        var fileSize = 0;
        if (file.size > 1024 * 1024){
            fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            if(file.size>1024 * 1024 * 10){
                fileSize = fileSize + ",文件大于10MB，无法上传";
            }
        }
        else{
            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
        }

        document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
        document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
        document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
    }
}
</script>
</body>
</html>