<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('角色修改')"/>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <input style="display: none;" id="L_id" th:value="${role.roleId}">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>角色名
                </label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${role.roleName}" id="username" name="roleName" required="" lay-verify="roleName"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="roleKey" class="layui-form-label">
                    <span class="x-red">*</span>角色key
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="roleKey" th:value="${role.roleKey}" name="roleKey" required="" lay-verify="roleKey"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <!--<div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>权限</label>

                <div class="layui-input-block" >
                    <div th:each="role:${roleList}" style="float: left;">
                        <input type="checkbox" name="roles" th:value="${role}" lay-skin="primary" th:title="${role.roleName}"  >
                    </div>
                </div>
            </div>-->

            <div class="layui-form-item">


                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            roleName: function(value) {
                if (value.length < 3) {
                    return '角色名至少得3个字符啊';
                }
            }

        });
        function json2(c){
            var jsonData="";
            c=c.replace("{","").replace("}","");
            c=c.split(',');
            for(var i=0;i<c.length-1;i++){
                jsonData = jsonData + '"'+ (c[i].split('=')[0]).replace(/[\s]+/g,"").replace(/null/,"")+'":"' + (c[i].split('=')[1]).replace(/[\s]+/g,"").replace(/null/,"") + '",';
            }
            jsonData = jsonData.substring(0,jsonData.length-1);
            jsonData = "{" + jsonData + "}";
            console.log(jsonData);
            return JSON.parse(jsonData)
        }
        //监听提交
        form.on('submit(add)',
            function(data) {
                // console.log(data);
                var ids = [];
                $("input[name='roles']:checked").each(function(i){
                    var obj = json2($(this).val());
                    ids.push(obj);
                });

                var roleData = {
                    roleId:$('#L_id').val(),
                    roleName:$('#username').val(),
                    roleKey:$('#roleKey').val()
                    // roleList:ids

                };
                // console.log(userData.toString());
                $.ajax({
                    url:'/roleUpdate',
                    type:'post',
                    dataType:'json',
                    contentType: 'application/json',
                    data: JSON.stringify(roleData),
                    success:function (rsp) {
                        var code = rsp.code;
                        if("200" == code){
                            layer.alert("修改成功", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        }else {
                            layer.alert("修改失败", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                });
                        }
                    },
                    error:function (err) {
                        layer.alert("修改失败", {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
//                                    xadmin.father_reload();
                            });
                    }
                });
                return false;
            });
    });
</script>
</body>

</html>
