<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('密码修改')"/>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <!--<div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>原密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label for="L_newpass" class="layui-form-label">
                    <span class="x-red">*</span>新密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_newpass" name="newpassword" required="" lay-verify="newpass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    确认修改
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            newpass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function(value) {
                if ($('#L_newpass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
        //监听提交
        form.on('submit(add)',
            function(data) {
                var userData = {
                    password:$('#L_newpass').val()
                };
                // console.log(userData.toString());
                $.ajax({
                    url:'/newpass',
                    type:'post',
                    dataType:'json',
                    contentType: 'application/json',
                    data: JSON.stringify(userData),
                    success:function (rsp) {
                        var code = rsp.code;
                        if("200" == code){
                            layer.alert("修改成功", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    $.ajax({
                                        url:'/logout',
                                        type:'get'
                                    });
                                });
                        }else {
                            layer.alert("修改失败", {
                                    icon: 5
                                })

                        }
                    },
                    error:function (err) {
                        layer.alert("修改失败", {
                                icon: 5
                            })
                    }
                });
                return false;
            });
    });
</script>
</body>

</html>