<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="include :: header('排炮列表')"/>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>

            <a>
              <cite>导航元素</cite>
            </a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" method="get" th:action="@{/findByWell}">

                        <select id="select" name="wid"  lay-verify="required" >
                            <option value="请选择">-请选择油井-</option>
                            <option th:each="well:${wellInfos}" th:value="${well.wid}" th:text="${well.wellId}"></option>
                        </select>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="submit" class="layui-btn"  >
                            <!--<i class="layui-icon">&#xe615;</i>-->
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加射孔枪','/gunAddPage',650,400)"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox"  lay-filter="selectAll"  id="selectAll"  lay-skin="primary">
                            </th>
                            <th>ID</th>
                            <th>枪名</th>
                            <th>枪长(m)</th>
                            <th>数量</th>
                            <th>上空(m)</th>
                            <th>下空(m)</th>
                            <th>操作</th>
                        </thead>
                        <tbody th:each="salvo:${salvoList}" >
                        <tr>
                            <td>
                                <input type="checkbox" name="checkId" th:value="${salvo.sid}"   lay-skin="primary">
                            </td>
                            <td th:text="${salvo.sid}" ></td>
                            <td th:text="${salvo.gunType}" ></td>
                            <td th:text="${salvo.gunLen}" ></td>
                            <td th:text="${salvo.gunNum}" ></td>
                            <td th:text="${salvo.upNull}"></td>
                            <td th:text="${salvo.downNull}"></td>

                            <td class="td-manage" >
                                <div class="layui-btn-group">

                                    <!--<a  th:name="${salvo.sid}" class="layui-btn layui-btn-primary layui-btn-sm" onclick="workListPage(this,'施工列表','/workListPage/')" href="javascript:;" title="">
                                        <i class="layui-icon">&#xe601;</i>施工详情
                                    </a>-->
                                    <a title="编辑"  th:name="${salvo.sid}" class="layui-btn layui-btn-primary layui-btn-sm"  onclick="salvoUpdate1(this,'编辑','/salvoEditPage')" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                    <a title="删除" th:name="${salvo.sid}" class="layui-btn layui-btn-primary layui-btn-sm" onclick="member_del(this)" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <ul class="pagination pull-right no-margin">

                            <!-- 首页 -->
                            <li>
                                <a th:href="'/salvoByPage?pageNum=0'">首页</a>
                            </li>

                            <!-- 上一页 -->
                            <li th:if="${salvoList.hasPrevious()}">
                                <a th:href="'/salvoByPage?pageNum=' + ${salvoList.getPageNo() - 1}" th:text="上一页"></a>
                            </li>

                            <!-- 中间页 -->
                            <li th:if="${salvoList.getTotalPage() gt 0}" th:each="pageNum:${#numbers.sequence(0, salvoList.getTotalPage() - 1)}">
                                <a th:href="'/salvoByPage?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne salvoList.getTotalPage()}"></a>
                                <a th:href="'/salvoByPage?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq salvoList.getTotalPage()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                            </li>

                            <!--下一页-->
                            <li th:if="${salvoList.hasNext()}">
                                <a th:href="'/salvoByPage?pageNum=' + ${salvoList.getPageNo() + 1}" th:text="下一页"></a>
                            </li>

                            <!-- 尾页 -->
                            <li>
                                <a th:if="${salvoList.getTotalPage() gt 0}" th:href="'/salvoByPage?pageNum=' + ${salvoList.getTotalPage() -1}">尾页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        //全选控制
        form.on('checkbox(selectAll)',function (data) {
            var a = data.elem.checked;
            if (a == true) {
                $("input[name='checkId']").prop("checked", true);
                form.render('checkbox');
            } else {
                $("input[name='checkId']").prop("checked", false);
                form.render('checkbox');
            }
        });


        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    // 用户修改
    function salvoUpdate1(obj,title,url){
        var url1 = url +"/"+ obj.name;
        // console.log(url1);
        xadmin.open(title,url1);
    }
    /*用户-删除*/
    function member_del(obj){
        layer.confirm('确认要删除吗？',function(index){
            console.log("id:"+obj.name);
            //发异步删除数据
            $.ajax({
                url:'/salvoDeleteOne/'+obj.name,
                type:'get',
                dataType:'json',
                contentType: 'application/json',

                success:function (rsp) {
                    var code = rsp.code;

                    if("200" == code){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }
                },
                error:function (err) {
                    layer.msg('删除失败!',{icon:2,time:1000});
                }
            });


        });
    }

    //模糊查询
    function likeName() {
        var str = "";
        str = "username="+$('input[name="username"]').val()+"&start="+$('input[name="start"]').val()+"&end="+$('input[name="end"]').val();
        xadmin.add_tab('管理员列表','/findByNameLike?'+str,true);
        /*var datas = {
            username:$('input[name="username"]').val(),
            start:$('input[name="start"]').val(),
            end:$('input[name="end"]').val()
        }
          $.ajax({
              url:'/findByNameLike',
              type:'post',
              dataType:'json',
              contentType: 'application/json',
              data: JSON.stringify(datas),
              success:function (rsp) {
                  var code = rsp.code;

                  if("200" == code){
                      location.reload();
                  }
              }
          });*/

        // xadmin.add_tab('管理员列表','adminListByPage');
    }
    //批量删除
    function delAll (argument) {

        // var data = tableCheck.getData();
        var ids;
        $('input[name="checkId"]:checked').each(function () {
            console.log($(this).val());
            ids = ids +","+ $(this).val();
        });
        layer.confirm('确认要删除吗？'+ids,function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:'/adminDeleteSome?ids='+sids,
                type:'get',
                dataType:'json',
                contentType: 'application/json',

                success:function (rsp) {
                    var code = rsp.code;

                    if("200" == code){
                        $('input[name="checkId"]:checked').parents('tr').remove();
                        layer.msg('删除成功', {icon: 1});
                    }else {
                        layer.msg('删除失败', {icon: 1});
                    }
                },
                error:function (err) {
                    layer.msg('删除失败', {icon: 1});
                }
            });

            // $(".layui-form-checked").not('.header').parents('tr').remove();
        });


    }
</script>
</html>